<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Caduceu</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/base.css">

	<script src="js/main.js"></script>
	
</head>
<body>
	<div class="">
	<div class="container" ng-app="" id="caduceu">
		<div class="row">
			<h1>Caduceu</h1>
			<nav class="col-md-4 main">
				<ul class="nav nav-list">
					<li><a href="">Pacientes</a>
						<ul class="nav nav-list sub-nav">
							<li><a href="">+ Novo</a></li>
							<li><a href="">Buscar</a></li>
							<li><a href="">Inativos</a></li>
						</ul>
					</li>
					<li><a href="">Agenda</a></li>
					<li><a href="">Configurações</a></li>
				</ul>
				<h2>Testes</h2>
			</nav>

			<div class="col-md-8">
				<form action="testes" role="form" class="form-vertical">

					<div class="form-group">
						<label for="" class="control-label">Nome</label>
						<div class="">
							<input class="form-control" type="text" ng-model="teste">	
						</div>
						
						<div >
							<p>{{teste}}</p>
						</div>
					</div>

					<div class="form-group">
						<label for="" class="control-label">Nome</label>
						<div class="">
							<input class="form-control" type="text">	
						</div>
						
						<div ng-controller="meuteste">
							<p>{{teste.msg}}</p>
						</div>
					</div>

					<div class="form-group">
						<label for="" class="control-label">Idade</label>
						<div >
							<input class="form-control" type="text" ng-model="data.testando">
							<p>{{data.testando}}</p>	
						</div>
						
						<div ng-controller="meuteste">
							
						</div>
					</div>

					<div class="form-group">
						<label for="" class="control-label">Profissão</label>
						<div class="">
							<input class="form-control" type="text">	
						</div>
						
						<div ng-controller="meuteste">
							<p>{{coisa.teste}}</p>
						</div>
					</div>

					<div class="form-group">
						<label for="" class="control-label">Ativo</label>
						<div class="">
							<div class="checkbox">
								<label>
									<input class="checkbox" type="checkbox"> what	
								</label>	
							</div>
							
								
						</div>	
						
					</div>
					
				</form>
				
			</div>
		</div>
	</div>
	</div>

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>

	<script src="js/teste.js"></script>
	<script src="js/caduceu.js"></script>
</body>
</html>